.card {
    height: 300px;
    width: 618px;
    background-image: url(./back.jpg);
    padding: 12px;
    padding-top: 42px;
}

.name {
    color: darkblue;
    font-family: 'Urbanist' , sans-serif;
    margin: 0px;
    text-align: left;
}

.position {
    color: darkblue;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    text-align: left;
    height: 25px;
    min-width: 23;
    min-height: 23;
}